<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello World form</title>
  </head>
  <body>
    <form action="/" method="post">
      <label for="username">Nombre: </label>
      <input type="text" name="username" value="" required>
      <label for="tratamiento">Tratamiento: </label>
      <input type="radio" name="tratamiento" value="male">Sr
      <input type="radio" name="tratamiento" value="female">Sra
      <input type="submit" name="" value="Login">
    </form>
  </body>
</html>
